.btn__ghost {
  font-weight: 400;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 0.75rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 0.75rem;
  -ms-border-radius: 0.75rem;
  -o-border-radius: 0.75rem;
}
.btn {
  font-weight: 600;
  font-size: 20px;
  background-image: linear-gradient(to top right, #671ae4, #b75cff);
  padding: 10px 20px;
  border-radius: 0.75rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 0.75rem;
  -ms-border-radius: 0.75rem;
  -o-border-radius: 0.75rem;
}

.transparent__bg {
  background-image: linear-gradient(to top right, #671ae410, #3e076b17);
}
.onHover:hover {
  border: 1px;
  border-style: solid;
  border-radius: 10%;
  border-image: linear-gradient(to top right, #690cff, #b75cff) 27;
}

.product__btn {
  background-image: linear-gradient(to top right, #671ae4, #b75cff);
  width: 75%;
  padding: 0.75rem 1.5rem;
  background-image: linear-gradient(to top right, #671ae4, #b75cff);
  font-size: 20px;
  font-weight: 600;
}
